.App {
min-height: 100vh;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.main-header{
  text-align: center;
  padding-top: 10px;
}

.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px grey;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 40%;
  align-items: center;
  background-color: ivory;
  
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searc-bar{
  width: 50%;
  border: none;
  padding: 10px;
  background-color: ivory;
}
.search-button{
  border: none;
  padding: 10px 5px;
  background-color: coral;
  color: white;
}

.recipies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image{
border-radius: 20%;
height: 7rem;
width: 7rem;
/* height: 100px;
width: 100px; */


}
